In [4]:
#Pyhton Sets
#A set is a collection which is unordered, unchangeable, and unindexed.
myset = {'shimul','tanvir','saikat','bandhan','alock'}
print(myset)

#And set items do not allow duplicate values
myset = {10,20,30,40,50,10,50}
print(myset)

#True and 1 is considered the same value
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

#False and 0 is considered the same value
thisset ={"apple", "banana", "cherry", True,False,0}
print(thisset)

{'saikat', 'tanvir', 'bandhan', 'shimul', 'alock'}
{50, 20, 40, 10, 30}
{True, 2, 'cherry', 'apple', 'banana'}
{False, True, 'cherry', 'apple', 'banana'}

In [1]:
#T0 determine how many items a set has, use the len() function
myset = {'shimul','tanvir','saikat','bandhan','alock'}
print(len(myset))

5

In [2]:
# Set items data types
myset1 = {'shimul','tanvir','saikat','bandhan','alock'}
myset2 = {1,2,3,4,5,6,7,8}
myset3 = {True,False,True,False}
print(myset1)
print(myset2)
print(myset3)

# Set can contain different data types
myset = {'shimul',9,True,21}
print(myset)

{'shimul', 'saikat', 'alock', 'tanvir', 'bandhan'}
{1, 2, 3, 4, 5, 6, 7, 8}
{False, True}
{9, 'shimul', 21, True}

In [1]:
# Access items from set by using for loop and in keyword
myset = {'shimul','tanvir','saikat','bandhan','alock'}
for x in myset:
    print(x)

bandhan
tanvir
saikat
shimul
alock

In [7]:
# Check if 'shimul' is present in the set
myset = {'shimul','tanvir','saikat','bandhan','alock'}
print('shimul' in myset)

# check if 'shimul' is not present in the set
print('shimul' not in myset)

True
False

In [9]:
"""
Once a set is created, you cannot change its items, 
but you can add new items by using add() method
"""
myset = {'shimul','tanvir','saikat','bandhan','alock'}
myset.add("anoy")
print(myset)

{'bandhan', 'tanvir', 'anoy', 'saikat', 'shimul', 'alock'}

In [10]:
# To add items from another set into the current set,use the update() method.
myset1 = {'shimul','tanvir','saikat','bandhan','alock'}
myset2 = {1,2,3,4,5,6}
myset1.update(myset2)
print(myset1)

{1, 'bandhan', 2, 3, 4, 5, 6, 'saikat', 'shimul', 'alock', 'tanvir'}

In [ ]:
# To remove an item in a set, use the remove(),or the discard()method
myset = {'shimul','tanvir','saikat','bandhan','alock'}
myset.remove('shimul') #Remove 'shimul' by using remove() method
myset.discard('tanvir') #Remove 'tanvir' by using dicard() method
print(myset)

{'bandhan', 'saikat', 'alock'}

In [14]:
#the clear() method empties the set
myset = {'shimul','tanvir','saikat','bandhan','alock'}
myset.clear() 
print(myset)

set()

In [ ]:
"""Join Sets:
There are several ways to join two or more sets in Python.
The union() and update() methods joins all items from both sets.
The intersection() method keeps ONLY the duplicates.
The difference() method keeps the items from the first set that are not in the other set(s).
The symmetric_difference() method keeps all items EXCEPT the duplicates.
"""
#Join two or multiple sets using by union()
myset1 = {'shimul','tanvir','saikat','bandhan','alock'}
myset2 = {1,2,3,4,5}
myset3 = {'a','b','c','d'}
myset4 = myset1.union(myset2,myset3) 
print(myset4)

# use '|' to Join two or multiple sets
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
myset = set1 | set2 | set3 |set4
print(myset)

#The intersection() method will return a new set, that only contains the items that are present in both sets.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
print(set3)

#Use & to intersection two sets
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 & set2
print(set3)

#The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
print(set3)

#Use - to difference two sets
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 - set2
print(set3)

#The symmetric_difference() method will keep only the elements that are NOT present in both sets
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
print(set3)

#Use ^ to symmetric_difference two sets
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 ^ set2
print(set3)

{1, 'bandhan', 2, 3, 4, 5, 'saikat', 'shimul', 'alock', 'b', 'a', 'c', 'd', 'tanvir'}
{1, 2, 3, 'Elena', 'bananas', 'apple', 'John', 'b', 'a', 'c', 'cherry'}
{'apple'}
{'apple'}
{'banana', 'cherry'}
{'banana', 'cherry'}
{'google', 'cherry', 'banana', 'microsoft'}
{'google', 'cherry', 'banana', 'microsoft'}