In [4]:
#Pyhton Sets
#A set is a collection which is unordered, unchangeable, and unindexed.
myset = {'shimul','tanvir','saikat','bandhan','alock'}
print(myset)

#And set items do not allow duplicate values
myset = {10,20,30,40,50,10,50}
print(myset)

#True and 1 is considered the same value
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

#False and 0 is considered the same value
thisset ={"apple", "banana", "cherry", True,False,0}
print(thisset)

{'saikat', 'tanvir', 'bandhan', 'shimul', 'alock'}
{50, 20, 40, 10, 30}
{True, 2, 'cherry', 'apple', 'banana'}
{False, True, 'cherry', 'apple', 'banana'}

In [1]:
#T0 determine how many items a set has, use the len() function
myset = {'shimul','tanvir','saikat','bandhan','alock'}
print(len(myset))

5

In [2]:
# Set items data types
myset1 = {'shimul','tanvir','saikat','bandhan','alock'}
myset2 = {1,2,3,4,5,6,7,8}
myset3 = {True,False,True,False}
print(myset1)
print(myset2)
print(myset3)

# Set can contain different data types
myset = {'shimul',9,True,21}
print(myset)

{'shimul', 'saikat', 'alock', 'tanvir', 'bandhan'}
{1, 2, 3, 4, 5, 6, 7, 8}
{False, True}
{9, 'shimul', 21, True}