In [4]:
#Pyhton Sets
#A set is a collection which is unordered, unchangeable, and unindexed.
myset = {'shimul','tanvir','saikat','bandhan','alock'}
print(myset)

#And set items do not allow duplicate values
myset = {10,20,30,40,50,10,50}
print(myset)

#True and 1 is considered the same value
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

#False and 0 is considered the same value
thisset ={"apple", "banana", "cherry", True,False,0}
print(thisset)

{'saikat', 'tanvir', 'bandhan', 'shimul', 'alock'}
{50, 20, 40, 10, 30}
{True, 2, 'cherry', 'apple', 'banana'}
{False, True, 'cherry', 'apple', 'banana'}

In [1]:
#T0 determine how many items a set has, use the len() function
myset = {'shimul','tanvir','saikat','bandhan','alock'}
print(len(myset))

5

In [2]:
# Set items data types
myset1 = {'shimul','tanvir','saikat','bandhan','alock'}
myset2 = {1,2,3,4,5,6,7,8}
myset3 = {True,False,True,False}
print(myset1)
print(myset2)
print(myset3)

# Set can contain different data types
myset = {'shimul',9,True,21}
print(myset)

{'shimul', 'saikat', 'alock', 'tanvir', 'bandhan'}
{1, 2, 3, 4, 5, 6, 7, 8}
{False, True}
{9, 'shimul', 21, True}

In [1]:
# Access items from set by using for loop and in keyword
myset = {'shimul','tanvir','saikat','bandhan','alock'}
for x in myset:
    print(x)

bandhan
tanvir
saikat
shimul
alock

In [7]:
# Check if 'shimul' is present in the set
myset = {'shimul','tanvir','saikat','bandhan','alock'}
print('shimul' in myset)

# check if 'shimul' is not present in the set
print('shimul' not in myset)

True
False

In [9]:
"""
Once a set is created, you cannot change its items, 
but you can add new items by using add() method
"""
myset = {'shimul','tanvir','saikat','bandhan','alock'}
myset.add("anoy")
print(myset)

{'bandhan', 'tanvir', 'anoy', 'saikat', 'shimul', 'alock'}

In [10]:
# To add items from another set into the current set,use the update() method.
myset1 = {'shimul','tanvir','saikat','bandhan','alock'}
myset2 = {1,2,3,4,5,6}
myset1.update(myset2)
print(myset1)

{1, 'bandhan', 2, 3, 4, 5, 6, 'saikat', 'shimul', 'alock', 'tanvir'}